h1{
    color:red;
    font-size:50px;
    font-weight: bold;
    font-family: "Impact";
    text-align:center;
    background-color:aquamarine;
}

body{
    background-image: url("../images/i_top_slide09.jpg");0_20160718132345.jpg
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}