div.title{
    width:970px;
    height:40px;
    background-color: aquamarine;
    text-align:left;
    font-size:30px;
    font-family:"Impact";
    
    padding-left:30px;
    margin-bottom:20px;
}

div.menu-R{
    display: inline-block;
    vertical-align: top; 
    font-size: 0;
}

div.menu-L{
    display: inline-block;
    vertical-align: top; 
    font-size: 0;
}

span.menuitem{
    width:240px;
    height:90px;
    color: aqua;
    background-color: gainsboro;
    display:block;
    
    vertical-align: top;
    
    font-size:30px;
    font-family:"Impact";
    text-align:center;
    
    border:5px dotted yellow;
    margin-bottom:10px;
    margin-right:50px; 
}

div.image1{
    width:700px;
    height:300px;
    background-image: url("../images/01_spow_051119.jpg");
    display:inline-block;
    
    vertical-align: top;
    
    color:white;
    font-size:20px;
}

div.bun{
    width:225px;
    height:20px;
    background-color: aqua;
    display:inline-block;
    vertical-align: top;
    margin-bottom:10px;
    color:black;
    font-size:10px;
}

div.menu{
    display:inline-block;
    vertical-align: top;
    font-size: 0;
    width:1000px;
}

div.footer{
    width:1000px;
    height:40px;
    background-color: cadetblue;
    text-align:right;
    font-size:30px;
    margin-top:10px;
}

div.wrap{
    width : 1000px;
    margin : 0px auto;
}

body{
    background-color:azure;

}
